body{
    margin:0px; 
    padding:0px;
    background-color: #f3f3f3;
}

/* 导航栏样式 */
header{
/* height: 80px; */
}

nav {
    width: 100%;
    text-align: center;
    margin: auto;  
    padding:12px;
    z-index: 999; 
    /* position: sticky; */
    position: fixed
}

.space{
    height: 60px;
}

.header {
    background-color: #f3f3f3;
    color: #f3f3f3;
    text-align: center;
    padding: 12px 0;
    width: 90%;
    max-width: 550px;
    margin: auto;
    border-radius: 10px;
}

header a {
    color: #4d4d4d;
    text-decoration: none;
    margin: 0 12px;
}

/* 页面内容样式 */
.content {
    padding: 20px;
    background-color: #5A95EF;
    /* background-color: darkgreen; */
}

.w-bg{
    background-color: #f3f3f3;
    padding: 20px;
    /* margin:0px;  */
}

/* 页尾样式 */
footer {
    background-color: #333;
    color: #f3f3f3;
    text-align: center;
    padding: 12px 0;
    height: 80px;
    text-align: center;
}