body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    /* height: 100%; */
}

/* 导航栏样式 */


nav {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    z-index: 999;
    position: sticky;
    position: fixed;
}

.space {
    height: 60px;
    width: 100%;
}

.logo {
    width: 36px;
    /* margin: auto; */
    text-align: center;
    padding: 0 12px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border-radius: 6px;
}

.menu {
    padding: 0 20px;
    text-align: left;
    max-width: 200px;
}


.header {
    background-color: #fff;
    color: #f3f3f3;
    text-align: center;
    padding: 8px 0;
    width: 90%;
    max-width: 550px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-align: left; */
}

header a {
    color: #4d4d4d;
    text-decoration: none;
    margin: 0 10px;
}

/* 页面内容样式 */
.content {
    padding: 20px;
    background-color: #5A95EF;
    /* text-align: center; */
    margin: 0 auto;
    padding: 0;
    text-align: center;
    /* height: 160%; */
}

.content1 {
    padding: 100px;
    background-color: #5A95EF;
    /* max-width: 500px; */
    /* height: 40%; */
}

.content2 {
    padding: 100px;
    background-color: #f3f3f3;
}

.w-bg {
    background-color: #f3f3f3;
    padding: 20px;
    /* margin:0px;  */
}

h1 {
    padding:2px;
}

.ab {
    position: relative;
    display: inline-block;
    padding: 1.2em 2em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: white;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(135deg, #0e3edd, #5a955a);
        border-radius: 4px;
        transition: box-shadow .5s ease, transform .2s ease;
        will-change: transform;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        transform:
            translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
    }

    &:hover::before {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    }

    &::after {
        position: relative;
        display: inline-block;
        content: attr(data-title);
        transition: transform .2s ease;
        font-weight: bold;
        letter-spacing: .01em;
        will-change: transform;
        transform:
            translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
    }
}


/* 页尾样式 */
footer {
    background-color: #333;
    color: #f3f3f3;
    text-align: center;
    padding: 12px 0;
    height: 80px;
    text-align: center;
}