/* 导航栏样式 */
nav {
    width: 100%;
    text-align: center;
    margin: auto;  
    z-index: 999; 
    /* position: sticky; */
    position: fixed
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    width: 90%;
    margin: auto;
    border-radius: 25px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
}

/* 页面内容样式 */
.content {
    padding: 20px;
}

/* 页尾样式 */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 12px 0;
}